* {
  padding: 0%;
  margin: 0%;
}
nav {
  background-color: #f7f1f1; /* Change this to your preferred background color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: rgb(42, 40, 40);
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover,
.ProfileName:hover {
  text-decoration: underline;
  color: rgb(243, 18, 18);
}
.ProfileName {
  color: rgb(42, 40, 40);
  margin: 20px 50px;
  text-decoration: none;
}
.RecipeName {
  color: rgb(42, 40, 40);
  margin: 20px 30px;
  text-decoration: none;
  font-weight: bold;
  width: 300px;
}
.RecipeName:hover {
  text-decoration: underline;
  color: rgb(243, 18, 18);
}
/* SingleRecipePage.module.css */

/* SingleRecipePage.module.css */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Spacing between columns */
}

.recipe-info {
  grid-column: span 2; /* Span across both columns */
}

.recipe-image {
  max-width: 100%;
}
